:root {
  font-family:
    -apple-system-font,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei UI,
    Microsoft YaHei,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --cyyjs-primary-color: #009874;
  // --cyyjs-color-secondary: #1dc19b;
  --cyyjs-color-outline: #00000026;
  --cyyjs-color-surface: #f6f6f6;
  --cyyjs-color-on-inverse: #fff;
  --cyyjs-color-inverse: #24292f;
  --cyyjs-border-radius: 6px;
  --cyyjs-font-title: Georgia, Cambria, 'Times New Roman', Times, serif;
  --cyyjs-font-default: 'Open Sans', Arial, Helvetica, sans-serif;
  --cyyjs-font-code:
    Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;
  --cyyjs-shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}
.light {
  --cyyjs-bg: #fff;
  --cyyjs-bg-2: #fff;
  --cyyjs-color: #000;
  --cyyjs-code-bg: rgba(27, 31, 35, 0.05);
  --cyyjs-blockquote-bg: #f7f7f7;
  --cyyjs-blockquote-color: rgba(0, 0, 0, 0.5);
  --cyyjs-pre-bg: rgba(27, 31, 35, 0.05);
  --cyyjs-border: 1px solid #eaecef;
  --cyyjs-hr-color: rgba(27, 31, 35, 0.1);
  --cyyjs-menu-bg: #efefef;
  --cyyjs-input-bg: #fff;
  --cyyjs-btn-hv: #efefef;
  --cyyjs-color-selected: #eee;
  --cyyjs-color-on-background:#000;
}
.dark {
  --cyyjs-bg: #252932;
  --cyyjs-bg-2: #777777;
  --cyyjs-color: #fff;
  --cyyjs-code-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-blockquote-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-blockquote-color: rgba(255, 255, 255, 0.9);
  --cyyjs-pre-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-border: 1px solid rgba(255, 255, 255, 0.3);
  --cyyjs-hr-color: rgba(255, 255, 255, 0.3);
  --cyyjs-menu-bg: #686868;
  --cyyjs-input-bg: #b7b5b5be;
  --cyyjs-btn-hv: #686868;
  --cyyjs-color-selected: #5e5e5e;
  --cyyjs-color-on-background:#fff;
}
