.milkdown {
  .milkdown-code-block {
    display: block;
    position: relative;
    background: var(--cyyjs-bg);
    margin: 10px 0;
    border-radius: 6px;
   
    &:has(.preview-panel) {
      .tools, .codemirror-host{
        display: none;
      }
    }
    &.block-focus {
      .tools {
        display: flex;
      }
      .codemirror-host {
        display: block;
      }
    }
    .hidden {
      display: none;
    }

    &:hover {
      .language-button {
        opacity: 1;
        color: #000;
        background-color: #e1e1e1;
        padding: 4px 6px;
        right: 5px;
        .expand-icon {
          display: block;
        }
      }
      .tools-button-group {
        opacity: 1;
      }
      button {
        background-color: #e1e1e1;
      }
    }
  }
}
