:root {
  font-family:
    -apple-system-font,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei UI,
    Microsoft YaHei,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --cyyjs-primary-color: #009874;
  --cyyjs-border-radius: 6px;
}
.light {
  --cyyjs-bg: #fff;
  --cyyjs-color: #000;
  --cyyjs-code-bg: rgba(27, 31, 35, 0.05);
  --cyyjs-blockquote-bg: #f7f7f7;
  --cyyjs-blockquote-color: rgba(0, 0, 0, 0.5);
  --cyyjs-pre-bg: rgba(27, 31, 35, 0.05);
  --cyyjs-border: 1px solid #eaecef;
  --cyyjs-hr-color: rgba(27, 31, 35, 0.1);
}
.dark {
  --cyyjs-bg: #252932;
  --cyyjs-color: #fff;
  --cyyjs-code-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-blockquote-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-blockquote-color: rgba(255, 255, 255, 0.9);
  --cyyjs-pre-bg: rgba(255, 255, 255, 0.3);
  --cyyjs-border: 1px solid rgba(255, 255, 255, 0.3);
  --cyyjs-hr-color: rgba(255, 255, 255, 0.3);
}
.cyyjs-mk-box {
  .milkdown {
    transition: all 0.3s ease-in-out;
    background-color: var(--cyyjs-bg);
    color: var(--cyyjs-color);
    .ProseMirror-focused {
      outline: 0;
    }
    a {
      font-weight: 500;
      color: var(--cyyjs-primary-color);
      text-decoration: inherit;
    }
    code {
      font-size: 90%;
      // color: #d14;
      background: var(--cyyjs-code-bg);
      padding: 3px 5px;
      border-radius: var(--cyyjs-border-radius);
    }
    ul,
    ol {
      margin: 0;
      padding-inline-start: 1.5em;
    }
    hr {
      background-color: var(--cyyjs-hr-color);
      height: 2px;
      border: 0;
    }
    blockquote {
      padding: 1px 1em;
      margin: 0;
      border-left: 4px solid var(--cyyjs-primary-color);
      color: var(--cyyjs-blockquote-color);
      background: var(--cyyjs-blockquote-bg);
      margin-bottom: 1em;
      border-radius: var(--cyyjs-border-radius);
    }
    pre {
      background-color: var(--cyyjs-pre-bg);
      padding: 1em;
      border-radius: var(--cyyjs-border-radius);
      border: var(--cyyjs-border);
      code {
        background-color: transparent;
      }
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      td,
      th {
        padding: 0 13px;
        border: var(--cyyjs-border);
        p {
          margin: 0.5em 0;
        }
      }
    }
  }
}
